*{margin:0;padding:0}
*{box-sizing:border-box}
.token.property{
    color:black;
}
.token.selector{
    color:black;
}
.token.function{
    color:black;
}
#code{
    height:100vh;
    overflow:hidden; /*隐藏滚动条，让JS帮忙滚动*/
}
#paper>pre{
    padding-left:16px;
}